In [1]:
# Import dependencies
import pandas as pd
import numpy as np

In [2]:
# Read the data into a Pandas DataFrame
realEstateCa_df = pd.read_csv('Resources/RealEstate_California.csv')
realEstateCa_df.head()

,id,stateId,countyId,cityId,country,datePostedString,is_bankOwned,is_forAuction,event,time,...,parking,garageSpaces,hasGarage,levels,pool,spa,isNewConstruction,hasPetsAllowed,homeType,county
0,95717-2087851113,9,77,24895,USA,1/13/2021,0,0,Listed for sale,1.610000e+12,...,0,0,0,0,0,0,0,0,LOT,Placer County
1,94564-18496265,9,189,36958,USA,7/12/2021,0,0,Listed for sale,1.630000e+12,...,1,2,1,One Story,0,0,0,0,SINGLE_FAMILY,Contra Costa County
2,94564-18484475,9,190,36958,USA,7/8/2021,0,0,Listed for sale,1.630000e+12,...,1,2,1,One Story,0,0,0,0,SINGLE_FAMILY,Contra Costa County
3,94564-18494835,9,191,36958,USA,7/7/2021,0,0,Listed for sale,1.630000e+12,...,1,1,1,Two Story,0,1,0,0,SINGLE_FAMILY,Contra Costa County
4,94564-2069722747,9,192,36958,USA,7/7/2021,0,0,Listed for sale,1.630000e+12,...,0,0,0,0,0,0,0,0,LOT,Contra Costa County

In [3]:
# Brief summary of the realEstateCa_df DataFrame before cleaning.
realEstateCa_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35389 entries, 0 to 35388
Data columns (total 38 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  35389 non-null  object
 1   stateId             35389 non-null  int64
 2   countyId            35389 non-null  int64
 3   cityId              35389 non-null  int64
 4   country             35389 non-null  object
 5   datePostedString    35386 non-null  object
 6   is_bankOwned        35389 non-null  int64
 7   is_forAuction       35389 non-null  int64
 8   event               35100 non-null  object
 9   time                35100 non-null  float64
 10  price               35389 non-null  int64
 11  pricePerSquareFoot  35389 non-null  int64
 12  city                35389 non-null  object
 13  state               35389 non-null  object
 14  yearBuilt           35389 non-null  int64
 15  streetAddress       35388 non-null  object
 16  zipcode             35364 non-null  float64
 17  longitude           35389 non-null  float64
 18  latitude            35389 non-null  float64
 19  hasBadGeocode       35389 non-null  int64
 20  description         35110 non-null  object
 21  currency            35389 non-null  object
 22  livingArea          35389 non-null  int64
 23  livingAreaValue     35389 non-null  float64
 24  lotAreaUnits        35389 non-null  object
 25  bathrooms           35389 non-null  int64
 26  bedrooms            35389 non-null  int64
 27  buildingArea        35389 non-null  int64
 28  parking             35389 non-null  int64
 29  garageSpaces        35389 non-null  int64
 30  hasGarage           35389 non-null  int64
 31  levels              35389 non-null  object
 32  pool                35389 non-null  int64
 33  spa                 35389 non-null  int64
 34  isNewConstruction   35389 non-null  int64
 35  hasPetsAllowed      35389 non-null  int64
 36  homeType            35389 non-null  object
 37  county              35389 non-null  object
dtypes: float64(5), int64(20), object(13)
memory usage: 10.3+ MB

In [4]:
# Get the crowdfunding_info_df columns.
print(realEstateCa_df.columns)

Index(['id', 'stateId', 'countyId', 'cityId', 'country', 'datePostedString',
       'is_bankOwned', 'is_forAuction', 'event', 'time', 'price',
       'pricePerSquareFoot', 'city', 'state', 'yearBuilt', 'streetAddress',
       'zipcode', 'longitude', 'latitude', 'hasBadGeocode', 'description',
       'currency', 'livingArea', 'livingAreaValue', 'lotAreaUnits',
       'bathrooms', 'bedrooms', 'buildingArea', 'parking', 'garageSpaces',
       'hasGarage', 'levels', 'pool', 'spa', 'isNewConstruction',
       'hasPetsAllowed', 'homeType', 'county'],
      dtype='object')

In [5]:
# Get count of unique ids
unique_ids = realEstateCa_df["id"].nunique()
unique_ids

31238

In [6]:
realEstateCa_df.dropna(inplace = True)
realEstateCa_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 34814 entries, 0 to 35388
Data columns (total 38 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  34814 non-null  object
 1   stateId             34814 non-null  int64
 2   countyId            34814 non-null  int64
 3   cityId              34814 non-null  int64
 4   country             34814 non-null  object
 5   datePostedString    34814 non-null  object
 6   is_bankOwned        34814 non-null  int64
 7   is_forAuction       34814 non-null  int64
 8   event               34814 non-null  object
 9   time                34814 non-null  float64
 10  price               34814 non-null  int64
 11  pricePerSquareFoot  34814 non-null  int64
 12  city                34814 non-null  object
 13  state               34814 non-null  object
 14  yearBuilt           34814 non-null  int64
 15  streetAddress       34814 non-null  object
 16  zipcode             34814 non-null  float64
 17  longitude           34814 non-null  float64
 18  latitude            34814 non-null  float64
 19  hasBadGeocode       34814 non-null  int64
 20  description         34814 non-null  object
 21  currency            34814 non-null  object
 22  livingArea          34814 non-null  int64
 23  livingAreaValue     34814 non-null  float64
 24  lotAreaUnits        34814 non-null  object
 25  bathrooms           34814 non-null  int64
 26  bedrooms            34814 non-null  int64
 27  buildingArea        34814 non-null  int64
 28  parking             34814 non-null  int64
 29  garageSpaces        34814 non-null  int64
 30  hasGarage           34814 non-null  int64
 31  levels              34814 non-null  object
 32  pool                34814 non-null  int64
 33  spa                 34814 non-null  int64
 34  isNewConstruction   34814 non-null  int64
 35  hasPetsAllowed      34814 non-null  int64
 36  homeType            34814 non-null  object
 37  county              34814 non-null  object
dtypes: float64(5), int64(20), object(13)
memory usage: 10.4+ MB

In [7]:
print(realEstateCa_df.duplicated())

0        False
1        False
2        False
3        False
4        False
         ...
35384    False
35385    False
35386    False
35387    False
35388    False
Length: 34814, dtype: bool

In [8]:
# Remove homes listed for less than $1000
filter = (realEstateCa_df[realEstateCa_df["price"] >= 1000]) 

# Remove homes with less than 120 living area
filter2 = (filter[filter["livingArea"] >= 120]) 

# Remove homes with no bathrooms
filter3 = (filter2[filter2["bathrooms"] != 0]) 

filter4 = (filter3[filter3["homeType"] != "MULTI_FAMILY"])  

filter5 = (filter4[filter4["homeType"] != "LOT"])  

filter6 = (filter5[filter5["homeType"] != "MILY"])

In [9]:
# Export categories_df and subcategories_df as CSV files.


filter6.to_csv("Resources/filter6.csv", index=False)

filter6.to_json("Resources/JSON_filter6.json")